<div class="btn-group" id="roles-btn-group-{{ sha256(user.email) }}">
    {% for role in valid_user_roles %}
    {% if role in user.roles and role != "default" %}
    <button class="btn btn-sm btn-warning" hx-delete="/admin/user/{{ url_escape(user.email) }}/roles?role={{ role }}"
        hx-trigger="click" hx-swap="innerHTML" hx-target="#roles-btn-group-{{ sha256(user.email) }}"
        hx-confirm="Are you sure you want to remove the {{ role }} role from &quot;{{ user.email }}&quot;?"
        title="Remove the {{ role }} role from {{ user.email }}" {% if role=="admin" and (current_user==user.email or
        owner==user.email) %}disabled{% end %}>
        {{ role }}
    </button>
    {% elif role != "default" %}
    <button class="btn btn-sm btn-outline-warning"
        hx-post="/admin/user/{{ url_escape(user.email) }}/roles?role={{ role }}" hx-trigger="click" hx-swap="innerHTML"
        hx-target="#roles-btn-group-{{ sha256(user.email) }}" title="Add the {{ role }} role to {{ user.email }}">
        {{ role }}
    </button>
    {% end %}
    {% end %}
</div>
